body {
  margin: 0;
}
.swiper-pagination-bullet > img {
  content: url("../public/assets/bullets/customBullet.svg");
}

.swiper-pagination-bullet-active > img {
  content: url("../public/assets/bullets/activeBullet.svg");
  background-color: "black";
}

.pagination-bullet {
  background-color: "black";
  /* width: 1.5rem; */
  /* margin: 0 0.1rem; */
}

.swiper-pagination-bullet {
  width: 50%;
}

.swiper-pagination-bullet {
  background-color: #191a23 !important;
  width: 2px;
  height: 2px;

  padding: 3px !important;
}

.swiper-pagination-bullet-active {
  background-color: #191a23 !important;
}
html {
  scroll-behavior: smooth;
}

